{
  "presets": [
    ["env", { "modules": false }],
    "react"
  ],
  "plugins": [
    "external-helpers"
  ],
  "env": {
    "production": {
      "plugins": [
        "external-helpers",
        "transform-react-remove-prop-types"
      ]
    }
  }
}
